@model KursovaRabota.ViewModels.Categories.CategoryDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>
        @Model.CategoryName
    </h4>
    <hr />
    <dl class="row">
        <h5>@Model.Cars.Count cars by this category: </h5>
        <ul>
            @foreach (var item in Model.Cars)
            {
                <li>
                    @Html.ActionLink(@item.Name, "Details", "Cars", new { CarId=item.Id })
                </li>
            }
        </ul>
    </dl>
</div>
<div>
    <div class="actions">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Category", new { CategoryId = Model.Id })'">Edit</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("ListAllCategories", "Categories")'">Back to list</button>
    </div>

</div>